<launch>
  <!-- Device mode -->
  <arg name="device_color"      default="0" />
  <arg name="device_depth"      default="1" />
  <arg name="device_all"        default="2" />
  <!-- Color mode -->
  <arg name="color_raw"         default="0" />
  <arg name="color_rectified"   default="1" />
  <!-- Depth mode -->
  <arg name="depth_raw"         default="0" />
  <arg name="depth_gray"        default="1" />
  <arg name="depth_colorful"    default="2" />
  <!-- Stream mode -->
  <arg name="stream_640x480"    default="0" />
  <arg name="stream_1280x480"   default="1" />
  <arg name="stream_1280x720"   default="2" />
  <arg name="stream_2560x720"   default="3" />
  <!-- Stream format -->
  <arg name="stream_mjpg"       default="0" />
  <arg name="stream_yuyv"       default="1" />

  <!-- 0 --> MONO16 -->
  <!-- 1 --> TYPE_16UC1 -->
  <arg name="type_mono16"        default="0" />
  <arg name="type_16uc1"         default="1" />

  <!-- IMU timestamp align -->
  <arg name="imu_timestamp_align" default="true" />

  <!-- Camera Params -->

  <!-- Device index -->
  <arg name="dev_index" default="0" />
  <!-- Framerate -->
  <arg name="framerate" default="30" />

  <!--
  Device mode
    device_color: left_color ✓ right_color ? depth x
    device_depth: left_color x right_color x depth ✓
    device_all:   left_color ✓ right_color ? depth ✓
  Note: ✓: available, x: unavailable, ?: depends on #stream_mode
  -->
  <arg name="dev_mode" default="$(arg device_all)" />

  <arg name="color_mode" default="$(arg color_raw)" />
  <!-- Note: must set DEPTH_RAW to get raw depth values for points -->
  <arg name="depth_mode" default="$(arg depth_raw)" />
  <arg name="stream_mode" default="$(arg stream_2560x720)" />
  <arg name="color_stream_format" default="$(arg stream_yuyv)" />
  <arg name="depth_stream_format" default="$(arg stream_yuyv)" />
  <!-- Note: must set TYPE_16UC1 to generate points -->
  <arg name="depth_type" default="$(arg type_16uc1)" />

  <!-- Auto-exposure -->
  <arg name="state_ae" default="true" />
  <!-- Auto-white balance -->
  <arg name="state_awb" default="true" />
  <!-- IR intensity -->
  <arg name="ir_intensity" default="4" />
  <!-- IR Depth Only -->
  <arg name="ir_depth_only" default="false" />

  <!-- Node params -->

  <arg name="mynteye"       default="mynteye" />
  <arg name="base_frame"    default="$(arg mynteye)_link_frame" />

  <arg name="left_frame"  default="$(arg mynteye)_left_frame" />
  <arg name="right_frame"  default="$(arg mynteye)_right_frame" />
  <arg name="imu_frame"     default="$(arg mynteye)_imu_frame" />
  <arg name="temp_frame"    default="$(arg mynteye)_temp_frame" />

  <!-- namespace of left image topics-->
  <!--   image_color:      Color unrectified image (published only if color_mode == color_raw) -->
  <!--   image_mono:       Monochrome unrectified image (published only if color_mode == color_raw) -->
  <!--   image_rect_color: Color rectified image -->
  <!--   image_rect:       Monochrome rectified image -->
  <arg name="left_topic"  default="$(arg mynteye)/left" />
  <!-- namespace of right image topics-->
  <arg name="right_topic"  default="$(arg mynteye)/right" />
  <!-- depth topics -->
  <arg name="depth_raw_topic"   default="$(arg mynteye)/depth/image_raw" />
  <arg name="depth_topic"   default="$(arg mynteye)/depth/image" />
  <!-- points topic -->
  <arg name="points_topic"  default="$(arg mynteye)/points/data_raw" />
  <!-- imu topic origin -->
  <arg name="imu_topic"     default="$(arg mynteye)/imu/data_raw" />
  <!-- temp topic -->
  <arg name="temp_topic"    default="$(arg mynteye)/temp/data_raw" />
  <!-- imu topic processed -->
  <arg name="imu_processed_topic"     default="$(arg mynteye)/imu/data_raw_processed" />

  <arg name="mesh_file" default="S1030-0315.obj" />

  <!-- nodelet manager -->
  <arg name="manager" default="mynteye_nodelet_manager" />
  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="mynteye_wrapper_d"
          args="load mynteye_wrapper_d/MYNTEYEWrapperNodelet $(arg manager)" output="screen">

    <!-- Camera params -->
    <param name="dev_index"     value="$(arg dev_index)" />
    <param name="framerate"     value="$(arg framerate)" />
    <param name="dev_mode"      value="$(arg dev_mode)" />
    <param name="color_mode"    value="$(arg color_mode)" />
    <param name="depth_mode"    value="$(arg depth_mode)" />
    <param name="stream_mode"   value="$(arg stream_mode)" />
    <param name="color_stream_format" value="$(arg color_stream_format)" />
    <param name="depth_stream_format" value="$(arg depth_stream_format)" />
    <param name="state_ae"      value="$(arg state_ae)" />
    <param name="state_awb"     value="$(arg state_awb)" />
    <param name="ir_intensity"  value="$(arg ir_intensity)" />
    <param name="ir_depth_only" value="$(arg ir_depth_only)" />
    <param name="imu_timestamp_align" value="$(arg imu_timestamp_align)" />

    <param name="gravity" value="$(arg gravity)" />

    <param name="depth_type" value="$(arg depth_type)" />

    <!-- Frame ids -->
    <param name="base_frame"  value="$(arg base_frame)" />
    <param name="left_frame"  value="$(arg left_frame)" />
    <param name="right_frame" value="$(arg right_frame)" />
    <param name="imu_frame"   value="$(arg imu_frame)" />
    <param name="temp_frame"  value="$(arg temp_frame)" />

    <!-- Topic names -->

    <param name="left_topic"          value="$(arg left_topic)" />
    <param name="right_topic"         value="$(arg right_topic)" />
    <param name="depth_topic"         value="$(arg depth_raw_topic)" />
    <param name="imu_topic"           value="$(arg imu_topic)" />
    <param name="temp_topic"          value="$(arg temp_topic)" />
    <param name="imu_processed_topic" value="$(arg imu_processed_topic)" />

    <param name="mesh_file" value="$(arg mesh_file)" />
  </node>

  <group if="$(eval color_mode == color_raw)">
    <!-- disable compressed depth plugin for raw image topics -->
    <group ns="$(arg left_topic)/image_color">
      <rosparam param="disable_pub_plugins">
        - 'image_transport/compressedDepth'
      </rosparam>
    </group>
    <group ns="$(arg left_topic)/image_mono">
      <rosparam param="disable_pub_plugins">
        - 'image_transport/compressedDepth'
      </rosparam>
    </group>
    <group ns="$(arg right_topic)/image_color">
      <rosparam param="disable_pub_plugins">
        - 'image_transport/compressedDepth'
      </rosparam>
    </group>
    <group ns="$(arg right_topic)/image_mono">
      <rosparam param="disable_pub_plugins">
        - 'image_transport/compressedDepth'
      </rosparam>
    </group>

    <!-- generate rectified image -->
      <node pkg="nodelet" type="nodelet" name="left_mono_recify" args="load image_proc/rectify $(arg manager)"
            output="screen">
      <remap from="camera_info" to="$(arg left_topic)/camera_info" />
      <remap from="image_mono"  to="$(arg left_topic)/image_mono" />
      <remap from="image_rect"  to="$(arg left_topic)/image_rect" />
    </node>
      <node pkg="nodelet" type="nodelet" name="left_color_recify" args="load image_proc/rectify $(arg manager)"
            output="screen">
      <remap from="camera_info" to="$(arg left_topic)/camera_info" />
      <remap from="image_mono"  to="$(arg left_topic)/image_color" />
      <remap from="image_rect"  to="$(arg left_topic)/image_rect_color" />
    </node>
      <node pkg="nodelet" type="nodelet" name="right_mono_recify" args="load image_proc/rectify $(arg manager)"
            output="screen">
      <remap from="camera_info" to="$(arg right_topic)/camera_info" />
      <remap from="image_mono"  to="$(arg right_topic)/image_mono" />
      <remap from="image_rect"  to="$(arg right_topic)/image_rect" />
    </node>
      <node pkg="nodelet" type="nodelet" name="right_color_recify" args="load image_proc/rectify $(arg manager)"
            output="screen">
      <remap from="camera_info" to="$(arg right_topic)/camera_info" />
      <remap from="image_mono"  to="$(arg right_topic)/image_color" />
      <remap from="image_rect"  to="$(arg right_topic)/image_rect_color" />
    </node>
  </group>

  <!-- convert metric of depth from uint16 to float -->
  <node pkg="nodelet" type="nodelet" name="convert_metric" args="load depth_image_proc/convert_metric $(arg manager)"
          output="screen">
    <remap from="image_raw" to="$(arg depth_raw_topic)" />
    <remap from="image"     to="$(arg depth_topic)" />
  </node>
  <!-- generate pointcloud from rectified image_color and depth -->
    <node pkg="nodelet" type="nodelet" name="point_cloud" args="load depth_image_proc/point_cloud_xyzrgb $(arg manager)"
          output="screen">
    <remap from="rgb/camera_info"             to="$(arg left_topic)/camera_info" />
    <remap from="rgb/image_rect_color"        to="$(arg left_topic)/image_rect_color" />
    <remap from="depth_registered/image_rect" to="$(arg depth_topic)" />
    <remap from="depth_registered/points"     to="$(arg points_topic)" />
    <param name="exact_sync" value="true" unless="$(arg ir_depth_only)" />
    <param name="exact_sync" value="false"    if="$(arg ir_depth_only)" />
    <param name="queue_size"                  value="10" />
  </node>

  <!-- disable compressed depth plugin for rectified image topics -->
  <group ns="$(arg left_topic)/image_rect_color">
    <rosparam param="disable_pub_plugins">
      - 'image_transport/compressedDepth'
    </rosparam>
  </group>
  <group ns="$(arg left_topic)/image_rect">
    <rosparam param="disable_pub_plugins">
      - 'image_transport/compressedDepth'
    </rosparam>
  </group>
  <group ns="$(arg right_topic)/image_rect_color">
    <rosparam param="disable_pub_plugins">
      - 'image_transport/compressedDepth'
    </rosparam>
  </group>
  <group ns="$(arg right_topic)/image_rect">
    <rosparam param="disable_pub_plugins">
      - 'image_transport/compressedDepth'
    </rosparam>
  </group>

</launch>
